<li class="pagination__item">
  {{#if isFirstPage}}
    <span class="pagination__disabled">{{{firstPageContent}}}</span>
  {{else}}
    {{{link-to firstPageContent (query-params page=firstPage) class="pagination__link"}}}
  {{/if}}
</li>

<li class="pagination__item">
  {{#if previousPage}}
    {{{link-to previousPageContent (query-params page=previousPage) class="pagination__link"}}}
  {{else}}
    <span class="pagination__disabled">{{{previousPageContent}}}</span>
  {{/if}}
</li>

{{#each pages as |page|}}
  <li class="pagination__item">
    {{link-to page (query-params page=page) class="pagination__link"}}
  </li>
{{/each}}

<li class="pagination__item">
  {{#if nextPage}}
    {{{link-to nextPageContent (query-params page=nextPage) class="pagination__link"}}}
  {{else}}
    <span class="pagination__disabled">{{{nextPageContent}}}</span>
  {{/if}}
</li>

<li class="pagination__item">
  {{#if isLastPage}}
    <span class="pagination__disabled">{{{lastPageContent}}}</span>
  {{else}}
    {{{link-to lastPageContent (query-params page=lastPage) class="pagination__link"}}}
  {{/if}}
</li>
