{{#if showPagination}}
  <ul class="{{baseClass}}">
    <li class="{{itemClass}}">
      {{#if previousPage}}
        {{link-to previousPageLabel previousPageQueryParams class=linkClass}}
      {{else}}
        <span class="{{disabledClass}}">{{previousPageLabel}}</span>
      {{/if}}
    </li>
    <li class="{{itemClass}}">
      {{link-to firstPage firstPageQueryParams class=linkClass}}
    </li>
    {{#if showLowerBreak}}
      <li class="{{itemClass}}">
        <span class="{{breakClass}}">{{breakLabel}}</span>
      </li>
    {{/if}}
    {{#each pageRange as |page|}}
      <li class="{{itemClass}}">
        {{link-to page.number page.queryParams class=linkClass}}
      </li>
    {{/each}}
    {{#if showUpperBreak}}
      <li class="{{itemClass}}">
        <span class="{{breakClass}}">{{breakLabel}}</span>
      </li>
    {{/if}}
    <li class="{{itemClass}}">
      {{link-to lastPage lastPageQueryParams class=linkClass}}
    </li>
    <li class="{{itemClass}}">
      {{#if nextPage}}
        {{link-to nextPageLabel nextPageQueryParams class=linkClass}}
      {{else}}
        <span class="{{disabledClass}}">{{nextPageLabel}}</span>
      {{/if}}
    </li>
  </ul>
{{/if}}
