{{#if showPagination}}
  <ul class="{{baseClass}}">
    <li class="{{itemClass}}">
      {{#if previousPage}}
        {{link-to previousPageLabel (query-params page=previousPage) class=linkClass}}
      {{else}}
        <span class="{{disabledClass}}">{{previousPageLabel}}</span>
      {{/if}}
    </li>
    <li class="{{itemClass}}">
      {{link-to firstPage (query-params page=firstPage) class=linkClass}}
    </li>
    {{#if showLowerBreak}}
      <li class="{{itemClass}}">
        <span class="{{breakClass}}">{{breakLabel}}</span>
      </li>
    {{/if}}
    {{#each pageRange as |page|}}
      <li class="{{itemClass}}">
        {{link-to page (query-params page=page) class=linkClass}}
      </li>
    {{/each}}
    {{#if showUpperBreak}}
      <li class="{{itemClass}}">
        <span class="{{breakClass}}">{{breakLabel}}</span>
      </li>
    {{/if}}
    <li class="{{itemClass}}">
      {{link-to lastPage (query-params page=lastPage) class=linkClass}}
    </li>
    <li class="{{itemClass}}">
      {{#if nextPage}}
        {{link-to nextPageLabel (query-params page=nextPage) class=linkClass}}
      {{else}}
        <span class="{{disabledClass}}">{{nextPageLabel}}</span>
      {{/if}}
    </li>
  </ul>
{{/if}}
