<div>
  <div>Page Range Displayed: 5</div>
  {{bgr-pagination config=config}}
</div>

<div>
  <div>Page Range Displayed: 3</div>
  {{bgr-pagination config=config pageRangeDisplayed=3}}
</div>

<div>
  <div>Page Range Displayed: 2</div>
  {{bgr-pagination config=config pageRangeDisplayed=2}}
</div>

<div>
  <div>Page Range Displayed: 7</div>
  {{bgr-pagination config=config pageRangeDisplayed=7}}
</div>

<div>
  <div>Page Range Displayed: 0</div>
  {{bgr-pagination config=config pageRangeDisplayed=0}}
</div>

<div>
  <div>Page Range Displayed: null</div>
  {{bgr-pagination config=config pageRangeDisplayed=null}}
</div>

<h2>PaginationData</h2>
<PaginationData
  @currentPage={{this.config.activePage}}
  @totalItems={{this.config.totalRecords}}
  @itemsPerPage={{this.config.perPage}}
  @pageRange={{3}}
  @pageMargins={{2}}
  as |data|
>
  <dl>
    <dt>pageRange</dt>
    <dd>3</dd>

    <dt>pageMargins</dt>
    <dd>2</dd>

    <dt>data.previousPage</dt>
    <dd>{{data.previousPage}}</dd>

    <dt>data.currentPage</dt>
    <dd>{{data.currentPage}}</dd>

    <dt>data.nextPage</dt>
    <dd>{{data.nextPage}}</dd>

    <dt>data.lastPage</dt>
    <dd>{{data.lastPage}}</dd>

    <dt>data.isFirstPage</dt>
    <dd>{{data.isFirstPage}}</dd>

    <dt>data.isLastPage</dt>
    <dd>{{data.isLastPage}}</dd>

    <dt>data.totalPages</dt>
    <dd>{{data.totalPages}}</dd>

    <dt>data.activeItems</dt>
    <dd>{{data.activeItems}}</dd>

    <dt>data.allPages</dt>
    <dd>{{data.allPages}}</dd>

    <dt>data.startMarginPages</dt>
    <dd>{{data.startMarginPages}}</dd>

    <dt>data.pageRangePages</dt>
    <dd>{{data.pageRangePages}}</dd>

    <dt>data.endMarginPages</dt>
    <dd>{{data.endMarginPages}}</dd>

    <dt>data.shouldShowLowerBreak</dt>
    <dd>{{data.shouldShowLowerBreak}}</dd>

    <dt>data.shouldShowUpperBreak</dt>
    <dd>{{data.shouldShowUpperBreak}}</dd>
  </dl>
</PaginationData>

<h2>Pagination</h2>
{{!-- This is an example of how to use the Pagination component to act exactly the same as the BgrPagination component --}}
<Pagination
  @currentPage={{this.config.activePage}}
  @totalItems={{this.config.totalRecords}}
  @itemsPerPage={{this.config.perPage}}
  class="pagination"
  as |p|
>
  <p.previous class="pagination__item" as |isDisabled|>
    {{#if isDisabled}}
      <span class="pagination__disabled">
        {{"<"}}
      </span>
    {{else}}
      {{#link-to
        "index"
        (query-params page=p.paginationData.previousPage)
        class="pagination__link"
      }}
        {{"<"}}
      {{/link-to}}
    {{/if}}
  </p.previous>

  <p.page class="pagination__item" as |pageNumber isActive|>
    {{#link-to
      "index"
      (query-params page=pageNumber)
      class=(concat "pagination__link" (if isActive " pagination__link--active"))
    }}
      {{pageNumber}}
    {{/link-to}}
  </p.page>

  <p.break class="pagination__item">
    <span class="pagination__break">
      ...
    </span>
  </p.break>

  <p.next class="pagination__item" as |isDisabled|>
    {{#if isDisabled}}
      <span class="pagination__disabled">
        {{">"}}
      </span>
    {{else}}
      {{#link-to
        "index"
        (query-params page=p.paginationData.nextPage)
        class="pagination__link"
      }}
        {{">"}}
      {{/link-to}}
    {{/if}}
  </p.next>
</Pagination>