<div>
  <div>Page Range Displayed: 5</div>
  {{bgr-pagination config=config}}
</div>

<div>
  <div>Page Range Displayed: 3</div>
  {{bgr-pagination config=config pageRangeDisplayed=3}}
</div>

<div>
  <div>Page Range Displayed: 2</div>
  {{bgr-pagination config=config pageRangeDisplayed=2}}
</div>

<div>
  <div>Page Range Displayed: 7</div>
  {{bgr-pagination config=config pageRangeDisplayed=7}}
</div>

<div>
  <div>Page Range Displayed: 0</div>
  {{bgr-pagination config=config pageRangeDisplayed=0}}
</div>

<div>
  <div>Page Range Displayed: null</div>
  {{bgr-pagination config=config pageRangeDisplayed=null}}
</div>
